<!DOCTYPE html>
<html>
  <head>
    {{ partial "page_head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="bg-white text-black max-w-xl mx-auto text-3xl py-4">
      3D Druck
    </div>
    <div class="bg-white text-black max-w-xl mx-auto text-2xl py-4">
      FDM
    </div>
    <div class="bg-white text-black max-w-xl mx-auto text-xl pb-4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.
    </div>
    <div class="flex justify-center items-center w-full max-w-xl mx-auto">
      <img
        class="pr-3 w-56"
        src="/ines-alvarez-fdez-L_N7BaNLC5Y-unsplash.jpg"
      />
      <img
        class="pr-3 w-56"
        src="/ines-alvarez-fdez-L_N7BaNLC5Y-unsplash.jpg"
      />
    </div>
    <div class="bg-white text-black max-w-xl mx-auto text-2xl py-4">
      SLA
    </div>
    <div class="bg-white text-black max-w-xl mx-auto text-xl pb-4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.
    </div>
    <div class="flex justify-center items-center w-full max-w-xl mx-auto pb-4">
      <img
        class="pr-3 w-56"
        src="/ines-alvarez-fdez-L_N7BaNLC5Y-unsplash.jpg"
      />
      <img
        class="pr-3 w-56"
        src="/ines-alvarez-fdez-L_N7BaNLC5Y-unsplash.jpg"
      />
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
