<div class="bg-black text-white">
  <div class="h-16 md:h-12">
    <div class="w-full fixed bg-white text-black shadow h-16 md:h-12">
      <header
        class="px-4 flex flex-wrap justify-between items-center max-w-4xl mx-auto h-full"
      >
        <div class="flex flex-wrap items-center justify-start">
          <div>
            E-Mail:
          </div>
          <a
            class="ml-2 hover:text-gray-500"
            href="mailto:{{ .Site.Data.contact.email }}"
          >
            {{ .Site.Data.contact.email }}
          </a>
        </div>
        <div class="flex flex-wrap items-center justify-start">
          <div>Telefonnummer:</div>
          <div class="ml-2">{{ .Site.Data.contact.telephone }}</div>
        </div>
      </header>
    </div>
  </div>
  <h1 class="font-lobster px-4 text-4xl md:text-6xl py-4 max-w-4xl mx-auto">
    Sandesign3d
  </h1>
</div>
<div class="bg-white sticky top-16 md:top-12 shadow">
  <div
    class="bg-white px-4 flex justify-start items-center max-w-4xl mx-auto py-2 w-full"
  >
    <div class="pr-4 font-bold">
      <a href='{{ (.Site.GetPage "/").RelPermalink }}'>Home</a>
    </div>
    <div class="px-4 font-bold">
      <a class="whitespace-no-wrap" href='{{ (.Site.GetPage "/3d-druck/index").RelPermalink }}'
        >3D Druck</a
      >
    </div>
    <div class="px-4 font-bold">
      <a href='{{ (.Site.GetPage "/cad/index").RelPermalink }}'>CAD</a>
    </div>
    <div class="px-4 font-bold">
      <a href='{{ (.Site.GetPage "/kontakt/index").RelPermalink }}'>Kontakt</a>
    </div>
  </div>
</div>
