<div class="bg-black text-white">
  <div class="h-12">
    <header class="w-full fixed bg-white text-black shadow h-12">
      <div class="flex justify-between items-center max-w-xl mx-auto px-2">
        <div class="pt-3">E-Mail: info@sandesign3d.com</div>
        <div class="pt-3">Telefonnummer: 01234/5678901</div>
      </div>
    </header>
  </div>
  <h1 class="font-bold text-6xl py-4 max-w-xl mx-auto">Sandesign3d</h1>
  <div class="flex justify-start items-center max-w-xl mx-auto py-2">
    <div class="pr-4 font-bold">Home</div>
    <div class="px-4 font-bold">3D Druck</div>
    <div class="px-4 font-bold">CAD</div>
    <div class="px-4 font-bold">Kontakt</div>
  </div>
  {{ if .Params.image_header }}
  <div data-image-slider data-image-slider-interval="3000">
    <div
      class="bg-cover"
      style='height: 32rem; background-image: url({{ ((resources.Get "ines-alvarez-fdez-L_N7BaNLC5Y-unsplash.jpg").Resize "x800").RelPermalink }});'
    ></div>
    <div
      data-image-slider-hide
      class="bg-cover bg-center"
      style='height: 32rem; background-image: url({{ ((resources.Get "neonbrand-38XhGPwzI3U-unsplash.jpg").Resize "x800").RelPermalink }});'
    ></div>
    <div
      data-image-slider-hide
      class="bg-cover"
      style='height: 32rem; background-image: url({{ ((resources.Get "ricardo-gomez-angel-PsaMztJp_tE-unsplash.jpg").Resize "x800").RelPermalink }});'
    ></div>
  </div>
  {{ end }}
</div>
