<div class="bg-black text-white">
  <div data-image-slider data-image-slider-interval="3000">
    <div
      class="bg-cover bg-center"
      style='height: 32rem; background-image: url({{ ((resources.Get "FDM_Cat_Army_1920x1080.jpg").Resize "x800").RelPermalink }});'
    ></div>
    <div
      data-image-slider-hide
      class="bg-cover"
      style='height: 32rem; background-image: url({{ ((resources.Get "ines-alvarez-fdez-L_N7BaNLC5Y-unsplash.jpg").Resize "x800").RelPermalink }});'
    ></div>
    <div
      data-image-slider-hide
      class="bg-cover bg-center"
      style='height: 32rem; background-image: url({{ ((resources.Get "neonbrand-38XhGPwzI3U-unsplash.jpg").Resize "x800").RelPermalink }});'
    ></div>
    <div
      data-image-slider-hide
      class="bg-cover"
      style='height: 32rem; background-image: url({{ ((resources.Get "ricardo-gomez-angel-PsaMztJp_tE-unsplash.jpg").Resize "x800").RelPermalink }});'
    ></div>
  </div>
</div>
