<!DOCTYPE html>
<html>
  <head>
    {{ partial "page_head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="bg-white text-black max-w-xl mx-auto text-2xl py-4">
      Ihr Partner aus Ulm in Sachen 3D-Druck und CAD.
    </div>
    <div class="bg-white text-black max-w-xl mx-auto text-xl pb-4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
