<!DOCTYPE html>
<html>
  <head>
    {{ partial "page_head.html" . }}
  </head>
  <body>
    {{ partial "header.html" . }}
    <div class="bg-white text-black max-w-xl mx-auto text-3xl py-4">
      Kontakt
    </div>
    <div class="bg-white text-black max-w-xl mx-auto text-xl pb-4">
      Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
      eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam
      voluptua.
      <p class="hover:text-gray-500">info@sandesign3d.com</p>
    </div>
    {{ partial "footer.html" . }}
  </body>
</html>
